
@font-face {
	font-family: "Alex";
	src: url('AlexBrush-Regular.ttf');
}

p.subtitle {
    font-style: italic !important;
    padding-top: 0 !important;
    margin-top: -1em !important;
}
b {
    font-style: bold !important;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 1.0em !important;
}
h1,h2,h3,h4,h5 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: bold !important;
}
#main_content h1::first-letter,#main_content h2::first-letter {
    text-transform: capitalize;
}
#main_content h1::first-letter{
    font-size: 1.8em !important;
    /* background-color: rgb(43, 43, 43) !important; */
    color: rgb(45, 45, 45) !important;
    font-family: 'Alex', 'Times New Roman', Times, serif !important;
    border-radius: 5% !important;
    line-height: 0.9em !important;
    font-weight: bold !important;
}
h1 {
    font-size: 2.0 em !important;
}
h2 {
    font-size: 1.8 em !important;
}
h3 {
    font-size: 1.6 em !important;
}
h4 {
    font-size: 1.4 em !important;
}
h5 {
    font-size: 1.2 em !important;
}
a {
    color: rgb(23, 16, 87) !important; 
}
#footer_wrap a {
    color: rgb(255, 251, 231) !important; 
}
div#header_wrap {
    height: 7em !important;
}
div#header_wrap p.subtitle, div#header_wrap p.subtitle a {
    margin-top:0 !important;
    margin-bottom: 0 !important;
    color: whitesmoke !important;
}
div#header_wrap p.subtitle a:focus, div#header_wrap p.subtitle a:hover {
    font-weight: normal;
}
header.inner {
    padding-top:0 !important;
    padding-bottom:0 !important;
}
#project_title {
    font-size: 4.9em !important;   
}
#project_title a {
    color: whitesmoke !important;    
    text-shadow: #111 0px 0px 10px !important;
}
#project_tagline {
    font-size: 1.2em !important;
    padding:0 !important;
    margin:0 !important;
}
span.breadcrumb a {
    color: rgb(100, 100, 100) !important;
    font-size: 0.8em !important;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-top:0;
    padding-top:0;
}
blockquote {
    font-family: 'Alex', 'Times New Roman', Times, serif !important;
    font-size: 1.4em !important;
    color: rgb(15, 12, 161)
}