p.subtitle {
    font-style: italic !important;
    padding-top: 0 !important;
    margin-top: -1em !important;
}
b {
    font-style: bold !important;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 1.0em !important;
}
h1,h2,h3,h4,h5 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: bold !important;
}
h1 {
    font-size: 2.0 em !important;
}
h2 {
    font-size: 1.8 em !important;
}
h3 {
    font-size: 1.6 em !important;
}
h4 {
    font-size: 1.4 em !important;
}
h5 {
    font-size: 1.2 em !important;
}
a {
    color: rgba(148, 124, 18, 0.486) !important; 
}
div#header_wrap {
    position: fixed !important;
    top: 0 !important;
    height: 100px !important;
}
div#main_content_wrap {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
}
div#footer_wrap {
    height: 50px !important;
    position: fixed !important;
    
}