---
layout: default
title: Guichet d'accueil de la librairie
---


<h2>Ce que vous trouverez sur ce site :</h2>
Des écrits plus ou moins personnels qui n'ont pour le moment pas vocation à atteindre un quelconque public. L'idée première est de me mettre plus à écrire et à faire ça de manière un peu moins déstructurée.

Si certains écrits prennent une bonne ampleur, je chercherai peut-être à leur faire gagner en visibilité, mais je préfère m'intéresser au contenu avant de chercher l'audience, ce n'est donc pas un blog (désolé, c'est gratuit...).

{% for collection in site.collections %}
{% if collection.description %} 
  <h3>Des {% if collection.docs.size > 0 %}<a href="./{{ collection.label }}">{{collection.label}}</a>{% else %}{{collection.label}} {% endif %} </h3>
  <i>
    {% if collection.docs.size > 1 %}({{ collection.docs.size }} entrées){% endif %}
    {% if collection.docs.size == 1 %}({{ collection.docs.size }} entrée){% endif %}
  </i>
  <p>{{ collection.description }} </p>
{% endif %}
{% endfor %}