





{% assign temp = site.nouvelles | where_exp: 'item', 'item.layout != "project"' %}
{% if temp.size > 0 %}
<a href="{{ "/nouvelles" | prepend: site.baseurl}}">Nouvelles,</a>
{% else %}    
Nouvelles,
{% endif %}

{% assign temp = site.romans | where_exp: 'item', 'item.layout != "project"' %}
{% if temp.size > 0 %}
<a href="{{ "/romans" | prepend: site.baseurl}}">romans</a>, 
{% else %}    
romans,
{% endif %}

{% assign temp = site.exerices | where_exp: 'item', 'item.layout != "project"' %}
{% if temp.size > 0 %}
<a href="{{ "/exercices" | prepend: site.baseurl}}">exercices</a>, 
{% else %}
exercices,    
{% endif %}

{% assign temp = site.brouillons | where_exp: 'item', 'item.layout != "project"' %}
{% if temp.size > 0 %}
<a href="{{ "/brouillons" | prepend: site.baseurl}}">brouillons</a> et autres 
{% else %}    
    brouillons et autres
{% endif %}

{% assign temp = site.vagabondages | where_exp: 'item', 'item.layout != "project"' %}
{% if temp.size > 0 %}
<a href="{{ "/vagabondages" | prepend: site.baseurl}}">vagabondages</a>...
{% else %}    
    vagabondages...
{% endif %}
